*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255)
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgb(218, 102, 0)
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(218, 102, 0)
}

.titulo-nordeste{
    font-size: 50px;
    padding: 10px;

}

#imagem-logo{
    width: 10vw;
}

.imagem-grande{
    width: 100%;
}

#nav_header_segunda{
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 10vh;
    color: white;
    height: 5vh;
    font-size: 22px;
}

.nav_imagem{
    width: 5vh;
    height: 5vh;
    padding: 1vh;
}

#titulo-mapa{
    border: 1px solid black;
    background-color: orange;
    display: flex;
    justify-content: center;
    font-size: 40px;
    border-radius: 50px;
    width: 40vw;
    align-items: center;
}

#mapa-1{
    font-size: 30px;
    width: 60vw;
    padding: 20px;
}

#mapa-2{
    font-size: 28px;
    width: 55vw;
    padding: 20px;
}

#mapa-3{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-4{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-5{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-6{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-7{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-8{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-9{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-10{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-11{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-12{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-22{
    font-size: 25px;
    width: 50vw;
    padding: 20px;
}

#mapa-13{
    position: absolute;
    right: 300px;
    top: 1400px;
}

footer{
    border: 1px solid black;
    color: white;
    background-color: black;
    padding: 20px;
}

.titulo-footer{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.espaço-1{
    padding: 20px;
}

.nome-1{
    font-size: 20px;
    position: absolute;
    left: 50px;
}

.nome-2{
    font-size: 20px;
    position: absolute;
    left: 400px;
}

.nome-3{
    font-size: 20px;
    position: absolute;
    right: 400px;
}

.nome-4{
    font-size: 20px;
    position: absolute;
    right: 50px;
}

.espaço-2{
    padding: 20px;
}